{% extends 'application/base.html' %}

{% block content %}
    <div class="clear"></div>
        <div class="title-main"><h1>{{ title }}</h1></div>
    <p>
        ТЕСТОВОЕ ЗАДАНИЕ ДЛЯ ПРОГРАММИСТА
        Исходные средства:
        Python;
        Django;
        PostgresDB;
        Задание:
        В «компании» решили произвести перепись сотрудников, для того, чтобы определиться с тем, сколько человек
        являются сотрудниками.
    </p>
    <p>
        Ваша задача:
        реализовать web-приложение, которое позволит автоматизировать этот процесс.
    </p>
    <p>
        Основные сущности:
        1.Сотрудник(Имя, Фамилия, Возраст, Пол, Отдел)
        2.Отдел (Название, этаж)
        3.Язык программирования(Название)
    </p>
    <p>
        Основные страницы:
        1.Страница добавления пользователя (макет на рисунке 1).
        Поля «отдел» и «язык программирования» являются селект-боксами.
        Для поля имя реализовать автокомплит (подсказка выбора) с использованием jQuery ui(css-стили можно не править).
        Список уже добавленных сотрудников
        Адреса страниц:
        Добавление /add
        Редактирование /edit
        Список: /
    </p>
    <p>
        Справочники «отдел» и «язык программирования» желательно реализовать в одной таблице.
        Также желательно реализовать страницу/ы для заполнения этих справочников.
    </p>
{% endblock %}